network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: no
      addresses:
        - "{{ static_ip }}/24"
      gateway4: "{{ gateway }}"
      nameservers:
        addresses: {{ dns | to_json }}